# Python virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Pycache and bytecode
__pycache__/
*.py[cod]

# VSCode settings (optional)
.vscode/

# macOS or Windows system files (optional)
.DS_Store
Thumbs.db
