$accent-pink: #F00A50;
$accent-yellow: #F2D001;
$accent-teal: #00CEAF;
$accent-blue: #212431;
$accent-white: #FFFFFF;

$background-light: #F5F5F5;
$background-dark: #363B4D;

$secondary-light: #FFFFFF;
$secondary-dark: #212431;

$tertiary-light: #212431;
$tertiary-dark: #FFFFFF;

$text-light: #212431;
$text-dark: #FFFFFF;

/* Theme Class Definitions */
.theme-light {
  --bg-theme: #{$tertiary-light};
  --text-theme: #{$text-dark};
  --accent-color: #{$accent-pink};
  --bg-secondary: #{$secondary-dark};
  --bg-first: #{$background-light};
  --bg-tir: #{$secondary-light};
}

.theme-dark {
  --bg-theme: #{$tertiary-dark};
  --text-theme: #{$text-light};
  --accent-color: #{$accent-pink};
  --bg-secondary: #{$secondary-light};
  --bg-first: #{$background-dark};
  --bg-tir: #{$secondary-dark};
}

.search-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--bg-first) !important;
  color: var(--text-theme) !important;
  justify-content: center;
  align-items: center;
}

body, html {
  background-color: var(--bg-first) !important;
  color: var(--text-theme) !important;
}


@layer base {
  html, body {
    background-color: var(--bg-first) !important;
    color: var(--text-theme);
    min-height: 100vh;
  }
}

